
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text">
            <div class="icon-big icon-warning text-center">
                    <i class="fa fa-lightbulb-o fa-3x"></i>
                </div>
            Fire Sense
        </a>
    </div>
    <ul class="nav">
            <li *ngIf="isNotMobileMenu()">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-panel"></i>
					<p>Stats</p>
                </a>
            </li>
            <li class="dropdown" *ngIf="isNotMobileMenu()">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                        <p class="notification">5</p>
    					<p>Notifications</p>
    					<b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Notification 1</a></li>
                    <li><a href="#">Notification 2</a></li>
                    <li><a href="#">Notification 3</a></li>
                    <li><a href="#">Notification 4</a></li>
                    <li><a href="#">Another notification</a></li>
                  </ul>
            </li>
            <li *ngIf="isNotMobileMenu()">
                <a href="#">
					<i class="ti-settings"></i>
					<p>Settings</p>
                </a>
            </li>
            <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li>
            <a>
                <i class="ti-dashboard"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a>
                <i class="ti-pie-chart"></i>
                <p>Insights</p>
            </a>
        </li>
        <li>
            <a class="disabled">
                <i class="ti-map"></i>
                <p>Map Overview</p>
            </a>
        </li>
        <li>
            <a class="">
                <i class="ti-alert"></i>
                <p>Notifications</p>
            </a>
        </li>
    </ul>
</div>
